<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.4.8" />
  <package id="NLog" version="2.0.0.2000" targetFramework="wp71" />
  <package id="NLog.Config" version="2.0.0.2000" />
  <package id="SilverlightToolkitWP" version="4.2011.11.15" />
  <package id="YLAD" version="1.2" />
  <package id="YLOD" version="0.9.0" />
</packages>